flashlib2/
flashlib3/
pungaRaid/src/game/Assets/UnityHTTP-master.meta
pungaRaid/src/game/Assets/icon/pungaIcon.png.meta
pungaRaid/src/game/Assets/UnityHTTP-master/src.meta
pungaRaid/src/game/Assets/prefabs/victims.meta
pungaRaid/src/build/pungaRaid.apk
pungaRaid/src/game/Assets/Resources/achievements/achivements_DEVOTO_1.png.tmp$$.meta
pungaRaid/src/game/Assets/Resources/achievements/achivements_FUTBOL_ARGENJUNIORS.png.meta
pungaRaid/src/game/Assets/Resources/achievements/achivements_FUTBOL_ARSENAL.png.meta
pungaRaid/src/game/Assets/Resources/achievements/achivements_FUTBOL_BOCA.png.meta
pungaRaid/src/game/Assets/Resources/achievements/achivements_FUTBOL_GENERICO.png.meta
pungaRaid/src/game/Assets/Resources/achievements/achivements_FUTBOL_RIVER.png.meta
femizone/src/.vs/src/v15/Server/sqlite3/db.lock
femizone/src/.vs/src/v15/Server/sqlite3/storage.ide-wal
femizone/src/.vs/src/v15/Server/sqlite3/storage.ide-shm
femizone/src/.vs/src/v15/Server/sqlite3/storage.ide
